# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.AdalightNet.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Dev\AdalightNet\AdalightNet\.idea\.idea.AdalightNet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
